@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.title {
    color: var(--black);
    font-weight: 700;
    font-size: 55px;
}


.secondary_title {
    color: var(--black);
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
}

.third_title
{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    z-index: 1;
}

.fourth_title
{
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
}


.text {
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary); 
}



/* Utils */
.max_width_700 {
    max-width: 700px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    
    .title {
        font-size: 3rem;
    }

    .secondary_title {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

}

@media (max-width: 600px) {
    .title {
        font-size: 40px;
    }
    
    .secondary_title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    .third_title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 18px;
    }
}
