.local_experience {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5%;
    background-color: var(--primary);
    overflow: hidden;
}


.left_column
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right_column
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.carousel
{
    display: flex;
}

.image {
    max-height: 600px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}