/* CTAButton.module.css */

/* Styles de base pour le bouton */
.ctaButton {
  padding: 15px; 
  background-color: #1C1C1C;
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.ctaButton:hover {
  background-color: var(--white);
  color: #1C1C1C
}

/* Bouton principal (Primary) */
.ctaButton.primary {
  background-color: #48704F;
  color: var(--white);
}

.ctaButton.primary:hover {
  background-color: #576663;
  color: #1C1C1C;
}

/* Bouton blanc */
.ctaButton.white {
  background-color: var(--white);
  color: #1C1C1C;
}

.ctaButton.white:hover {
  background-color: var(--neutral);
  color: var(--white);
}

/* Bouton de type danger (red) */
.ctaButton.danger {
  background-color: var(--red);
  color: var(--white);
}

.ctaButton.danger:hover {
  background-color: var(--darkRed);
  color: var(--white);
}

/* Bouton transparent */
.ctaButton.transparent {
  background-color: transparent;
  color: #1C1C1C;
  border: 2px solid #1C1C1C;
}

.ctaButton.transparent:hover {
  background-color: #1C1C1C;
  color: var(--white);
}


/* RESPONSIVE */
@media (max-width: 1000px) {
    
  

}

@media (max-width: 600px) {
  
  
  .ctaButton {
    padding: 10px;
    font-size: 14px;
  }
}

