/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 10;
    transition: backdrop-filter 0.3s ease; /* Transition douce pour le flou */
    backdrop-filter: none; /* Pas de flou par défaut */
    background-color: rgba(255, 255, 255, 0.5); /* Légère transparence de fond */
}

/* Lorsque l'utilisateur défile */
.navbar.scrolled {
    backdrop-filter: blur(10px); /* Applique un flou lorsque la page est scrollée */
}

/* Logo */
.logo {
    font-size: 18px;
    font-weight: bold;
}

/* Liens de navigation */
.nav_links {
    font-size: 16px;
    font-weight: 400;
}

.nav_link {
    margin-right: 10px;
}

/* Effet sur hover */
.nav_link:hover {
    cursor: pointer;
    text-decoration: underline;
}
