.hero {
    position: relative; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 5%;
    background-color: var(--primary);
  }
  
.hero_left_column {
    max-width: 45%;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero_left_column_text
{
    margin-bottom: 2rem;
}

.hero_right_column
{
    height: 100%;
    max-width: 60%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 60%;
    overflow: hidden;
}
  
.hero h1 {
    margin-bottom: 20px;
}

.hero_image
{
    height: 100%;
    object-fit: cover;
}

.hero_buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}


.hero_input
{
    padding: 1rem  1.5rem;
    background-color: var(--neutral);
    border-radius: 10px;
}

.hero_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 10px;
}


/* RESPONSIVE */
@media (max-width: 1000px) {
    .hero {
       padding-left: 5%;
       padding-right: 5%;
       flex-direction: column;
    }
    .hero_left_column {
       max-width: 100%;
       width: 100%;
    }

    .hero_buttons {
        flex-direction: column;
    }

    .hero_input {
        margin-bottom: 1rem;
    }
}