.cta_container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}


.hero_input
{
    padding: 1rem  1.5rem;
    background-color: white;
    border: 1px solid var(--neutral);
    border-radius: 10px;
    margin-right: 10px;
}

.hero_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 10px;
}
   

/* RESPONSIVE */
@media (max-width: 1000px) {
    .cta_container
    {
        flex-direction: column;
    }
    
    .hero_input {
        margin-right: 0;
        margin-bottom: 20px;
    }
}