.page {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
}


/* MAIN */
.main {
  display: flex;
  flex-direction: column;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  height: 400px;
  min-height: 400px;
  flex-direction: column;
  text-align: center;
}

.subfooter
{
  max-width: 520px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--neutral);
}

.footer_links
{
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_links_right
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ctas_container
{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_input
{
  padding: 1rem  1.5rem;
  background-color: var(--neutral);
  border-radius: 10px;
}

.link_text
{
  text-decoration: underline;
  margin-right: 10px;
}


/* RESPONSIVE */
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


@media (max-width: 1000px) {

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer_links_right
  {
    flex-direction: column;
  }

  .hero_input
  {
    margin-bottom: 10px;
  }

  .ctas_container
  {
    flex-direction: column;
    align-items: center;
  }

  .link_text
  {
    margin-right: 0px;
    margin-bottom: 10px;
  }

}


