/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.footer_cta_container
{
  width: 100%;
  max-width: 1000px;
  padding: 50px 30px;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  background: rgb(250,250,250);
  background: -moz-linear-gradient(170deg, rgba(250,250,250,1) 18%, rgba(95,149,105,0.3) 56%, rgba(95,149,105,0.6) 74%);
  background: -webkit-linear-gradient(170deg, rgba(250,250,250,1) 18%, rgba(95,149,105,0.3) 56%, rgba(95,149,105,0.6) 74%);
  background: linear-gradient(170deg, rgba(250,250,250,1) 18%, rgba(95,149,105,0.3) 56%, rgba(95,149,105,0.6) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#5f9569",GradientType=1);
}

.footer_title
{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}


.footer_links_container
{
  width: 100%;
  max-width: 1000px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgrey;
  padding: 20px 0px;
}

.footer_links_left
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_link
{
  font-size: 14px;
  margin-right: 10px;
}
